/*=========== TABLE OF CONTENTS ===========
1.  CSS General
2.  Header
A.  Home
  3.  Pop-up home
  4.  Hero home
  5.  Contador
  6.  Cursos/Talleres home
  7.  Novedades
  8.  Ebooks
  9.  Valores
  10. Testimonios
  11. Sucripción
B.  Cursos
  12. Cursos Hero
  13. Contenido somos
C.  Talleres
  14. Talleres Hero
  15. Talleres Online
  16. Cursos presenciales
D.  Ebooks
  17. Ebooks Hero
  18. Ebooks Contendio
E.  Ebooks
  xx. Ebooks Hero
  xx. Ebooks Contendio
F.  Contacto
  xx. Contenido contacto
Footer
===========================================*/
@media (max-width: 768px) {
    /*=====================================
        1.  CSS General
    =======================================*/
    .underline-ver-1 {
        width: 100px;
    }

    .underline-dots,
    .underline-dots-1,
    .underline-dots-2 {
        width: 114px;
    }

    .circul {
        width: 9px;
        height: 9px;
    }

    .back-to-top {
        right: 24px;
    }

    .btn-colapse {
        right: 18px;
    }

    .tlf {
        display: block;
    }
    .desk {
        display: none;
    }

    .desk {
        display: none !important;
    }
    .tlf {
        display: block !important;
    }

    /*=====================================
        2.  Header
    =======================================*/
    .navbar-light .navbar-nav .nav-link {
        text-align: left;
    }

    .logo-head {
        width: 105px;
        height: auto;
    }

    /*=====================================
        A.  Home
    =======================================*/
    /*-------------------------------------
            4.  Hero home
    --------------------------------------*/
    .contain-video-hero {
        height: auto;
    }
    .vid-hero {
        display: block;
        margin: auto;
        width: 360px !important;
        height: 202px !important;
    }

    /*-------------------------------------
        4.  Hero home
    --------------------------------------*/
    .hero-home {
        margin-bottom: 0 !important;
    }
    .row-hero-home {
        width: auto;
        height: 600px;
        overflow: hidden;
        margin-bottom: -31px !important;
    }

    .col-hero-home {
        padding: 0 !important;
    }
    .col-hero-home1 {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .titu-hero-home {
        font-size: 55px;
        color: var(--blanco);
    }

    .img-hero-home {
        width: 357px;
    }

    /*-------------------------------------
            5.  Contador
    --------------------------------------*/
    .contain-cursos-home {
        padding-top: 34px !important;
        padding-bottom: 27px !important;
    }
    .titu-noso-home {
        font-size: var(--titulo-tlf);
        line-height: 34px;
    }

    .txt-noso-home,
    .txt-nos-home {
        font-size: var(--parrafo-tlf);
    }

    .bg-contador h1,
    .bg-contador h6 {
        margin-bottom: 0 !important;
    }

    .contain-contador {
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
        max-width: 50% !important;
    }

    .contain-contador:nth-child(1) .bg-contador,
    .contain-contador:nth-child(4) .bg-contador {
        background-color: var(--fucsia);
    }

    .contain-contador:nth-child(2) .bg-contador,
    .contain-contador:nth-child(3) .bg-contador {
        background-color: var(--fucsia-cla);
    }

    /*-------------------------------------
            6.  Cursos/Talleres home
    --------------------------------------*/
    .item-curs-home {
        width: 301px;
        height: 377px;
        margin: auto !important;
    }

    .contain-back-cursos {
        padding: 6px 15px;
        background: var(--fucsia-cla);
    }

    .titu-cursos-back {
        font-size: var(--subtitulo-tlf);
        line-height: 24px;
    }

    .txt-descrip-cursos {
        margin-top: 16px !important;
        font-size: var(--parrafo-tlf);
        line-height: 15px;
    }

    .list-descrip-back {
        margin-top: 11px;
        margin-bottom: 16px !important;
    }

    .cont-precio {
        margin-top: -9px !important;
    }

    .col-precio-back {
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
        max-width: 100%;
    }
    .col-precio-back a {
        width: 105px;
        padding: 6px;
        font-size: var(--parrafo-tlf);
    }
}

@media (min-width: 1500px) {
    /*=====================================
        1.  CSS General
    =======================================*/
    .underline-ver-1 {
        width: 540px;
    }
    .circul {
        width: 14px;
        height: 14px;
    }
}