/*=========== TABLE OF CONTENTS ===========
1.  CSS General
2.  Header
A.  Home
  3.  Pop-up home
  4.  Hero home
  5.  Contador
  6.  Cursos/Talleres home
  7.  Novedades
  8.  Ebooks
  9.  Valores
  10. Testimonios
  11. Sucripción
B.  Cursos
  12. Cursos Hero
  13. Contenido cursos
C.  Talleres
  14. Talleres Hero
  15. Talleres Online
D.  Certificaciones
  16. Contenido certificaciones
E.  Ebooks
  17. Ebooks Hero
  18. Ebooks Contenido
F.  Nosotros
  19. Contenido Nosotros
G.  Contacto
  20. Contenido contacto
Footer
===========================================*/
@media (max-width: 768px) {
    /*=====================================
        1.  CSS General
    =======================================*/
    .underline-ver-1 {
        width: 100px;
    }

    .underline-dots,
    .underline-dots-1,
    .underline-dots-2 {
        width: 114px;
    }

    .circul {
        width: 9px;
        height: 9px;
    }

    .back-to-top {
        right: 24px;
    }

    .btn-colapse {
        right: 18px;
    }

    .tlf {
        display: block;
    }
    .desk {
        display: none;
    }

    .desk {
        display: none !important;
    }
    .tlf {
        display: block !important;
    }

    /*=====================================
        2.  Header
    =======================================*/
    .navbar-light .navbar-nav .nav-link {
        text-align: left;
    }

    .logo-head {
        width: 105px;
        height: auto;
    }

    /*=====================================
        A.  Home
    =======================================*/
    /*-------------------------------------
            3.  Pop-up home
    --------------------------------------*/
    .popup-content {
    	width: 342px;
    	padding: 20px 9px;
    }

    .heading-popup {
    	font-size: var(--titulo-tlf) !important;
    }

    .pop-titu {
    	top: 17%;
    	font-size: 26px !important;
    }

    .pop-titu1 {
	    font-size: 32px !important;
        line-height: 34px !important;
    }

    .txt-popup {
    	font-size: 18px !important;
    }

    .card-pop:hover .pop-titu {
        top: -13%;
    }

    /*-------------------------------------
            4.  Hero home
    --------------------------------------*/
    .contain-video-hero {
        height: auto;
    }
    .vid-hero {
        display: block;
        margin: auto;
        width: 360px !important;
        height: 202px !important;
    }

    .hero-home {
        margin-bottom: 0 !important;
    }
    .row-hero-home {
        width: auto;
        height: 600px;
        overflow: hidden;
        margin-bottom: -31px !important;
    }

    .col-hero-home {
        padding: 0 !important;
    }
    .col-hero-home1 {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .titu-hero-home {
        font-size: 50px;
        color: var(--blanco);
        text-align: center;
    }

    .img-hero-home {
        width: 357px;
    }

    /*-------------------------------------
            5.  Contador
    --------------------------------------*/
    .contain-cursos-home {
        padding-top: 34px !important;
        padding-bottom: 27px !important;
    }
    .seccion-titu-conta {
        text-align: center;
    }
    .titu-noso-home {
        font-size: var(--titulo-tlf);
        line-height: 34px;
    }

    .txt-noso-home,
    .txt-nos-home {
        font-size: var(--parrafo-tlf);
    }
    .txt-nos-home {
        text-align: center;
    }

    .bg-contador h1,
    .bg-contador h6 {
        margin-bottom: 0 !important;
    }

    .contain-contador {
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
        max-width: 50% !important;
    }

    .contain-contador:nth-child(1) .bg-contador,
    .contain-contador:nth-child(4) .bg-contador {
        background-color: var(--fucsia);
    }

    .contain-contador:nth-child(2) .bg-contador,
    .contain-contador:nth-child(3) .bg-contador {
        background-color: var(--fucsia-cla);
    }

    .contain-contador .bg-contador {
        padding: 12px !important;
    }

    /*-------------------------------------
            6.  Cursos/Talleres home
    --------------------------------------*/
    .item-curs-home {
        width: 301px;
        height: 377px;
        margin: auto !important;
    }

    .contain-back-cursos {
        padding: 6px 15px;
        background: var(--fucsia-cla);
    }

    .titu-cursos-back {
        font-size: var(--subtitulo-tlf);
        line-height: 24px;
    }

    .txt-descrip-cursos {
        margin-top: 16px !important;
        font-size: var(--parrafo-tlf);
        line-height: 15px;
    }

    .list-descrip-back {
        margin-top: 11px;
        margin-bottom: 16px !important;
    }

    .cont-precio {
        margin-top: -9px !important;
    }

    .col-precio-back {
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
        max-width: 100%;
    }
    .col-precio-back a {
        width: 105px;
        padding: 6px;
        font-size: var(--parrafo-tlf);
    }

    /*-------------------------------------
            7.  Novedades
    --------------------------------------*/
    .container-titus-novedades {
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }

    .contain-titus-novedades {
        margin-bottom: -7px !important;
    }

    .txt-novedades {
        font-size: var(--parrafo-tlf);
        margin-bottom: 0 !important;
    }

    .titu-novedades {
        font-size: var(--titulo-tlf);
        line-height: 34px;
        margin-bottom: 0 !important;
    }

    .titu-noveda {
        font-size: var(--subtitulo-tlf);
    }

    /*-------------------------------------
            8.  Ebooks
    --------------------------------------*/
    .container-ebooks {
        margin-top: -45px !important;
        margin-bottom: 72px !important;
    }
    .container-titus-ebooks {
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }

    .txt-ebooks {
        font-size: var(--parrafo-tlf);
        margin-bottom: 0 !important;
    }
    
    .titu-ebooks {
        font-size: var(--titulo-tlf);
        line-height: 34px;
        margin-bottom: 0 !important;
    }

    #carousel-container {
        width: 154px;
        height: 103px;
    }

    #carousel {
        height: 250px;
    }

    .carousel-ebook {
        width: 130px;
        height: 163px;
    }

    .cont-ebook {
        padding: 12px 0;
    }

    #carousel .item {
        width: 150px;
        margin-left: -75px;
    }
    
    .btn-ebook {
        width: 51%;
        font-size: var(--parrafo-tlf) !important;
    }

    /*-------------------------------------
            9.  Valores
    --------------------------------------*/
    .wrapper-valor {
        margin-top: 0;
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }

    .txt-valores {
        font-size: var(--parrafo-tlf);
    }

    .titu-valores {
        font-size: var(--titulo-tlf);
        line-height: 34px;
    }

    .col-list-valo {
        margin-top: 21px;
        margin-bottom: 21px;
    }

    .cont-img-valor {
        padding: 23px;
        width: 122px;
    }

    /*-------------------------------------
            10.  Testimonios
    --------------------------------------*/
    .wrapper-testimo {
        margin: 0 !important;
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }

    .txt-testimo, .txt-info-testimo {
        font-size: var(--parrafo-tlf);
        margin-bottom: 0 !important;
    }
    
    .titu-testimo {
        font-size: var(--titulo-tlf);
        line-height: 34px;
        margin-bottom: 0 !important;
    }

    .cont-testimo {
        padding: 21px !important;
    }

    /*-------------------------------------
            11. Sucripción
    --------------------------------------*/
    .wrapper-contacto {
        margin: 0 !important;
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }

    .contain-sucrp {
        width: auto;
    }

    .txt-suscrip {
        font-size: var(--parrafo-tlf);
        margin-bottom: 0 !important;
    }

    .titu-suscrip {
        font-size: var(--titulo-tlf);
        line-height: 34px;
        margin-bottom: 0 !important;
    }

    /*=====================================
        B.  Cursos
    =======================================*/
    /*-------------------------------------
            12. Cursos Hero
    --------------------------------------*/
    .titu-header {
        margin-bottom: 24px;
        font-size: var(--titulo);
        line-height: 45px;
    }

    /*-------------------------------------
            13. Contenido cursos
    --------------------------------------*/
    .wrapper-cursos {
        margin: 0 !important;
        margin-top: -55px !important;
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }
    .container-cursos    {
        margin: 0 !important;
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }

    .cursos-carousel {
        width: auto;
        height: auto;
    }

    .curso-item {
        display: block;
        width: auto;
        height: auto;
    }

    .col-nav-curso {
        -ms-flex: 0 0 42%;
            flex: 0 0 42%;
        max-width: 100%;
        margin: 3px;
    }

    .contain-nav {
        width: 100px;
    }

    .nav-carru-curso {
        flex-direction: row;
        width: auto;
        margin-top: 24px;
    }

    /*=====================================
        C.  Talleres
    =======================================*/
    /*-------------------------------------
            15. Talleres Online
    --------------------------------------*/
    .wrapper-talleres {
        margin: 0 !important;
        margin-top: -55px !important;
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }
    .container-talleres {
        margin: 0 !important;
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }
    .row-talleres {
        display: none;
    }
    .col-talleres1 {
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
        max-width: 100%;
    }
    .col-talleres2 {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        max-width: 100%;
    }
    .col-talleres .cursos-carousel {
        width: auto;
        height: auto;
    }

    .col-talleres .curso-item {
        display: block;
        width: 100%;
        height: 100%;
    }

    /*=====================================
        D.  Certificaciones
    =======================================*/
    /*-------------------------------------
            16. Contenido certificaciones
    --------------------------------------*/
    .wrapper-certificacion {
        margin: 0 !important;
        margin-top: -55px !important;
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }
    .container-certificacion {
        margin: 0 !important;
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }

    /*=====================================
        E.  Ebooks
    =======================================*/
    /*-------------------------------------
            18. Ebooks Contenido
    --------------------------------------*/
    .wrapper-ebook {
        margin: 0 !important;
        margin-top: -55px !important;
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }
    .container-ebook {
        margin: 0 !important;
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }

    /*=====================================
        F.  Nosotros
    =======================================*/
    /*-------------------------------------
            19. Contenido Nosotros
    --------------------------------------*/
    .modal-body {
        padding: 0;
    }

    .wrapper-somos,
    .wrapper-mis-vis {
        margin: 0 !important;
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }

    .container-somos {
        margin: 0 !important;
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }

    .wrapper-mis-vis {
        margin-top: -58px !important;
    }

    .contador-somos {
        padding: 24px 11px !important;
    }

    .bg-mis-vis {
        background-color: var(--fucsia);
    }

    .cont-misvis p {
        font-size: var(--parrafo-tlf);
    }

    /*=====================================
        G.  Contacto
    =======================================*/
    /*-------------------------------------
            20. Contenido contacto
    --------------------------------------*/
    .wrapper-contactos {
        margin: 0 !important;
        margin-top: -76px !important;
        padding-top: 14px !important;
        padding-bottom: 14px !important;
    }

    .container-contactos {
        margin-bottom: -107px !important;
    }
    
    .cont-contacto {
        padding-right: 14px !important;
        padding-left: 14px !important;
    }

    .info-suscript {
        font-size: var(--subtitulo-tlf);
    }

    /*=====================================
        Footer
    =======================================*/
    .container-footer {
        padding-top: 0 !important;
    }
    .col-footer-top {
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
        max-width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
    .col-footer-top:nth-child(1),
    .col-footer-top:nth-child(4) {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        max-width: 100%;
    }

    .col-footer-top:nth-child(1),
    .col-footer-top:nth-child(2) {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .titu-footer-top {
        margin-bottom: 5px !important;
        font-size: 20px;
    }

    .col-footer-top p,
    .link-footer {
        font-size: var(--parrafo-tlf);
        margin-bottom: 0 !important;
    }

    .row-rrss-foot {
        margin-top: 10px !important;
    }

    .rrss-foter {
        font-size: 9px;
    }

    .container-footer-bot p {
        font-size: var(--parrafo-tlf);
        line-height: 15px;
    }
}

@media (min-width: 1500px) {
    /*=====================================
        1.  CSS General
    =======================================*/
    .underline-ver-1 {
        width: 540px;
    }
    .circul {
        width: 14px;
        height: 14px;
    }
}